* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: white;
    box-shadow: 0 1px 20px 3px rgb(232, 232, 232);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

nav h1 {
    color: #242D92;
}

.highlight {
    color: rgb(255, 213, 0);
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;

}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #242D92;
}

.hero-section {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px
}

.intro-text h3 {
    font-size: 20px;
    color: #242D92;
}

.intro-text h1 {
    font-size: 60px;
}

.intro-text > p {
    font-size:x-large;
}

.tagline {
    color: gray;
}

.btn {
    margin-top: 25px;
}
.btn a {
    text-decoration: none;
    color: white;
    background-color: #242D92;
    border-radius: 31px;
    padding: 15px 30px;
}

.btn a:hover {
    background-color:rgb(77, 88, 214);
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}